<div class="content">
  <section class="works">
    <hgroup>
      <h1>Our Works and Clients</h1>
    </hgroup>
    <section>

      <figure>
        <a href="/clients/cloverpop" class="image"><!--  active -->
          <%= image_tag('cloverpop-color.png', class: 'black') %>
          <%= image_tag('cloverpop.png', class: 'white') %>
        </a>
        <figcaption>
          <h4><a href="/clients/cloverpop">Cloverpop</a></h4>
          <p><a href="/clients/cloverpop">Cloverpop is a social decision-making app that helps us make our biggest life decisions, wiser, together.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/hp" class="image"><!--  active -->
          <%= image_tag('hp-color.png', class: 'black') %>
          <%= image_tag('hp.png', class: 'white') %>
        </a>
        <figcaption>
          <h4><a href="/clients/hp">HP Asia Pacific</a></h4>
          <p><a href="/clients/hp">A custom sales tool for HP Asia Pacific to quickly show the ROI for HP digital presses.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/seedchange" class="image"><!--  active -->
          <%= image_tag('seedchange-color.png', class: 'black') %>
          <%= image_tag('seedchange.png', class: 'white') %>
        </a>
        <figcaption>
          <h4><a href="/clients/seedchange">Seedchange</a></h4>
          <p><a href="/clients/seedchange">Seedchange is an online platform that makes early stage investment easier for startups and angels.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/resonance-technologies" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/resonance-technologies-color.png" title="Resonance Technologies" alt="Customer preferences survey" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/resonance-technologies.png" title="Resonance Technologies" alt="Customer preferences survey" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/resonance-technologies">Resonance Technologies</a></h4>
          <p><a href="/clients/resonance-technologies">Rubyriders SaaS products for Resonance Technologies help to provide powerful insights into customer motivations and behavior.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/inspiration-engine" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/inspiration-engine-color.png" title="Inspiration Engine" alt="Customer experience software" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/inspiration-engine.png" title="Inspiration Engine" alt="Customer experience software" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/inspiration-engine">Inspiration Engine</a></h4>
          <p><a href="/clients/inspiration-engine">Partnered in creating emote®, Inspiration Engine's on-demand customer experience management software.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/onyx-graphics" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/onyx-graphics-color.png" title="ONYX Graphics" alt="User tracking software" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/onyx-graphics.png" title="ONYX Graphics" alt="User tracking software" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/onyx-graphics">ONYX Graphics</a></h4>
          <p><a href="/clients/onyx-graphics">Developers from Rubyriders LLC helped create printer usage reporting tools to go along with the market leading large format digital printing software.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/gallerydog" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/gallerydog-color.png" title="GalleryDog" alt="Art gallery directory" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/gallerydog.png" title="GalleryDog" alt="Art gallery directory" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/gallerydog">GalleryDog.com</a></h4>
          <p><a href="/clients/gallerydog">Gallery*dog connects audiences with exhibitions, artists, museums, and galleries. The website provides free services for both users and venues.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/foodpair" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/foodpair-color.png" title="Foodpair" alt="Recipes search engine" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/foodpair.png" title="Foodpair" alt="Recipes search engine" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/foodpair">Foodpair.com</a></h4>
          <p><a href="/clients/foodpair">FoodPair is a search engine that makes it easy to find recipes. The website offers thousands of recipes from across the web, easy to search and sort.</a></p>
        </figcaption>
      </figure>

      <figure>
        <a href="/clients/matchbookit" class="image"><!--  active -->
          <img src="http://rubyriderscdn.appspot.com/images/clients/matchbook-color.png" title="Matchbook It" alt="RoR application" class="black">
          <img src="http://rubyriderscdn.appspot.com/images/clients/matchbook.png" title="Matchbook It" alt="RoR application" class="white">
        </a>
        <figcaption>
          <h4><a href="/clients/matchbookit">MatchbookIt Inc.</a></h4>
          <p><a href="/clients/matchbookit">Whether you hear about a new place from a friend, blog, or by walking by, Matchbook will help you remember it later.</a></p>
        </figcaption>
      </figure>

    </section>

    <br><br>
    <h3><%= link_to 'Contact us', contacts_path %> so we can make your acquaintance!</h3>

  </section>

</div>