<!DOCTYPE html>
<html>
<head>
  <title>Rubyriders</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Reenie+Beanie:regular' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Custom web applications from experienced ruby on rails development company | Rubyriders LLC</title>
  <meta name="keywords" content="ruby on rails custom web application remote agile"/>
  <meta name="description" content="Experienced ruby on rails professionals helps startups set up and train agile teams."/>
</head>
<body>

<div class="wrap">
  <header>

    <h1><a>RUBYRIDERS</a></h1>

    <nav class="menu">
      
      <!-- Close menu nav -->
      <div class="icon-close"></div>

      <!-- Menu -->
      <ul>
        <li><a href="#">Team</a></li>
        <li><a href="#">What we do</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </nav>

    <!-- Call menu nav -->
    <div class="icon-menu">
      <i></i>
    </div>

    <!-- <nav>
      <ul>
        <%= active_link_to content_tag(:span, 'home'), root_path,
                           :active => :exclusive, :wrap_tag => :li %>
        <%= active_link_to content_tag(:span, 'members'), members_path,
                           :active => :exclusive, :wrap_tag => :li %>
        <%= active_link_to content_tag(:span, 'contact'), contacts_path,
                           :active => :exclusive, :wrap_tag => :li %>
      </ul>
    </nav> -->

  </header>

  <%= yield %>

  <footer>
    <!-- <nav>
      <ul>
        <li>
          <a href="http://rubyridersllc.tumblr.com/"><img src="http://rubyriderscdn.appspot.com/images/tdotlogo.png" alt=""></a>
        </li>
        <li>
          <a href="http://github.com/rubyriders"><img src="http://rubyriderscdn.appspot.com/images/gitlogo.png" alt=""></a>
        </li>
        <li>
          <a href="http://twitter.com/#!/rubyriders"><img src="http://rubyriderscdn.appspot.com/images/twlogo.png" alt=""></a>
        </li>
      </ul>
    </nav>
    <div>© 2005-2014 Rubyriders. All Rights Reserved.</div>
    <div class="decoration"></div> -->
  </footer>
</div>
</body>
</html>
